.clusterLogo { padding-right: 150px; }

.topLogoImage {
    padding: 35px 10px;
}

.topLogoImage img { 
 max-height: 95px;
}

.pageContentColumn {
float:right;
margin-left:1%;
padding:1%;
width:71%;
}

.bibDisplayItems .navButton, .bibDisplayItems .navButtonOneLine {display: none; }

.browseResourceTable { display: none; }

.linkBanner { background-color: #002856; }

.navigationRowRecord .resourceButton, .navigationRowRecord #requestButton {display:inline-block; vertical-align:text-top; font-family:Arial,"Arial Unicode MS",Helvetica,Verdana,sans-serif; text-decoration:none; padding-bottom:20px;}



